body {
  align-items: center;
  background-color: #000000;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 97vh;
  justify-content: center;
}

#calculator {
  background-color: #eaedef;
  border-radius: 5px;
  height: 520px;
  width: 320px;
}
